body {
    font-family: 'Raleway', sans-serif;
    background: #b7cfd4;
}

/* Nav Bar CSS */
.unscrolled {
    background-color: #1f1f1f;
    transition: background 1s;
}

#mainNavbar li {
    padding: 0 5px;
}

#mainNavbar .navbar-brand {
    font-weight: 500;
}

#mainNavbar a {
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
}

#mainNavbar img {
    max-height: 50px;
}

.navbar.scrolled {
    background-color: rgba(31, 31, 31, 0.7);
    transition: background 1s;
}

.content {
    margin-top: 50px;
    margin-bottom: 50px;

}

/* Circle Links */
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #5b81a9;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    margin: 0 auto;

}

.circle-mid {
    background-color: rgb(105, 187, 154);
    font-size: 0.9rem;
}

.circle:hover {
    text-decoration: none;
}



.circle:hover {
    opacity: 0.8;
    cursor: pointer;
}


/* FOOTER SHIT OVER HERE BLUD */

footer {
    background-color: rgba(31, 31, 31, 0.7);
    color: white;

}


/* Social Icons */
.social-icons {
    list-style: none;
    display: flex;

}

footer .fa-brands {
    color: #5b81a9;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons a i {
    font-size: 24px;
}



/* FOOTER SHIT END HERE BLUD */

/* @media CSS */
@media(max-width: 765px) {
    .navbar {
        background-color: rgb(31, 31, 31);
    }
}

/* Contact form CSS */
.contact-form {
    background: #d8e7e8;
}

/* Resume Page CSS */
.full-ribbon {
    background-color: rgb(91, 129, 169);
}

.title-ribbon {
    background-color: #1f1f1f;
    color: white;
}

.resume-page {
    position: relative;
    top: 150px;
}

#resume-contact-block {
    /* background-color: rgba(31, 31, 31, 0.25); */
    background-color: rgba(91, 129, 169, 0.25);
}

#resume-expertise-block {
    /* background-color: rgba(31, 31, 31, 0.50); */
    background-color: rgba(91, 129, 169, 0.50);
}

#resume-education-block {
    /* background-color: rgba(31, 31, 31, 0.50); */
    background-color: rgba(91, 129, 169, 0.75);
}